<div class="videos-show">
  <%= render partial: "video", locals: { video: @video } %>
  <%= render partial: "caption", locals: { video: @video } %>
  <%= render partial: "vocabulary", locals: { video: @video } %>
</div>
